# Data Manipulation and Numerical Computation
pandas 
numpy 

# Visualization Libraries
matplotlib 
seaborn 
missingno # Specifically for visualizing missing data

# Machine Learning Libraries
scikit-learn 

# Library for Jupyter Notebooks
jupyter

